body {
  margin: 0;
  border: 5px #a8eb12 solid;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
header {
  background-image: linear-gradient(to right top, #883ab4, #fd1d1d, #fcb045);
  padding: 12px 0;
  text-align: center;
}

img {
  border-radius: 50%;
  display: block;
  margin: auto;
  border-style: solid;
}

nav {
  width: 20%;
  background-color: #883ab4;
  padding: 10px;
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.menu a {
  color: aliceblue;
}
section {
  padding: 10px 20px;
}

footer {
  background-image: linear-gradient(to bottom left, #883ab4, #fd1d1d, #fcb045);
  padding: 8px;
}

.footer a {
  color: black;
  margin-right: 8px;
}

.category-wrapper {
  background-color: #aea4bf;
  margin-bottom: 10px;
}

.category {
  border: 5px solid #8f6593;
  padding: 15px;
}

form {
  width: 40%;
  margin: auto;
}

.input-wrapper {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #8f6593;
}

textarea {
  height: 100px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #883ab4;
  color: #aea4bf;
  text-align: center;
}
