body {
  margin: 0;
  border: 5px #a8eb12 solid;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
header {
  background-image: linear-gradient(to right top, #883ab4, #fd1d1d, #fcb045);
  padding: 12px 0;
  text-align: center;
}

img {
  border-radius: 50%;
  display: block;
  margin: auto;
}

nav {
  width: 20%;
  background-color: #883ab4;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.menu a {
  color: aliceblue;
}
section {
  padding: 10px 20px;
}

footer {
  background-image: linear-gradient(to bottom left, #883ab4, #fd1d1d, #fcb045);
  padding: 8px;
}

.footer a {
  color: black;
  margin-right: 8px;
}
