body {
  margin: 0;
  border: 5px #a8eb12 solid;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 100%;
}
header {
  background-image: url(../images/pexels-pixabay-206359.jpg);
  height: 100vh;
  padding: 12px 0;
  text-align: center;
}

.wording-border {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  margin-top: 20px;
}

.wording-border p {
  display: block; 
  margin: auto; 
  width: 60%
}

.profile-image {
  border-radius: 50%;
  display: block;
  margin: auto;
  border-style: solid;
}

nav {
  width: 20%;
  background-color: #883ab4;
  padding: 10px;
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.menu a {
  color: aliceblue;
}
section {
  padding: 10px 20px;
}

footer {
  background-image: linear-gradient(to bottom left, #883ab4, #fd1d1d, #fcb045);
  padding: 10px;
}

.social-links {
  text-align: center;
}

.social-links a{
  color: black;
  margin-right: 15px;
  font-weight: bold;
}

.social-links img {
  width: 30px;
  vertical-align: middle;
}

span {
  vertical-align: middle;
}

#contact {
  text-align: center;
}

.category-wrapper {
  background-color: #aea4bf;
  margin-bottom: 10px;
}

.category {
  border: 5px solid #8f6593;
  padding: 15px;
}

form {
  width: 40%;
  margin: auto;
  margin-bottom: 20px;
}

.input-wrapper {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #8f6593;
}

textarea {
  height: 100px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #883ab4;
  color: black;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  nav {
    width: 40%;
    font-size: 25px;
  }

  form {
    width: 70%;
  }

  .wording-border h1{
    font-size: 22px;
  }

  .wording-border h3 {
    font-size: 18px;
  }

  .wording-border p {
    font-size: 16px;
    width: 80%;
  }
} 

@media only screen and (max-width: 600px) {
  nav {
    width: auto;
  }

  form {
    width: 80%;
  }

  span {
    display: none;
  }

  .wording-border h1{
    font-size: 20px;
  }

  .wording-border h3 {
    font-size: 16px;
  }

  .wording-border p {
    font-size: 13px;
    width: 80%;
  }
} 